<header>
  <h1>WELCOME</h1>  

    <ul>
        <% if (locals.user){ %>
            <li>
                <a href="/users/profile">
                    <%= user.name %>
                </a>
            </li>
            <li>
                <a href="/users/sign-out">Sign Out</a>
            </li>
        <% }else{ %>
           <div id="nav">
            
                <a href="/users/sign-in">Sign In</a>
            

            
                <a href="/users/sign-up">Sign Up</a>
            
        </div>

        <% } %>
    </ul>

</header>