<link rel="stylesheet" href="./style.css">
<h1>forget-passwords</h1>

<form action="/users/forget-password" method="POST">
    <div>
    <input type="Email" name="username" placeholder="username"  required><br>
    </div>
  <button>forget-password</button>

</form>