
<h1>forget-passwords</h1>
<div>
<form action="/users/forget-password" method="POST">
    <div>
    <input type="Email" name="username" placeholder="username"  required><br>
    </div>
    <button type='submit'>Send link</button> 
</form>
</div>