
<!-- <link rel="stylesheet" href="./style.css"> -->

<!-- <form action="/" method="POST">
    <div class="container">
    <!-- <input type="email" name="email" placeholder="Email"  required>
    <input type="password" name="password" placeholder="Password"  required>
    <input type="submit" value="Sign In"> -->
    <!-- <label>Username : </label>   
            <input type="email" placeholder="Enter Username" name="email" required>  
            <label>Password : </label>   
            <input type="password" placeholder="Enter Password" name="password" required>  
            <button type="submit">Login</button>   
    </div>
</form> --> 
<link rel="stylesheet" href="/css/style.css">
<h1>
    Codeial / <%= title %>
</h1>
