<h1>
     My Profile
</h1>
<% if(locals.user){ %>
    
    <!-- <p><%= user.name %></p> -->
    <div class="user-details">
     <h2> <%= user.name %></h2>
    <p><%= user.email %></p>
   
    <% } %></div>