<link rel="stylesheet" href="/css/style.css">

<body>
    <div class="login-box">
        <h1>Sign In</h1>


<form action="/users/create-session" method="POST">
    <div>
    <input type="email" name="email" placeholder="Email"  required><br>
    </div>
    <div>
    <input type="password" name="password" placeholder="Password"  required><br>
    </div>
    <input type="submit" value="Sign In">
    

</form>
<div>
<p>
    <a href="/users/forget-password">Forget Password? </a>
  </p>
</div>


    <a href="/users/auth/google"><button>Google Sign In</button></a>
    </div>
</body>
